.gallery {
    height: 100vh;
    background-color: var(--primary-black);
    color: white;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem 3rem;
    padding: 5rem;
}

.gallery-column {
}

.photo_long {
    width: 95%;
    height: 50%;
    object-fit: cover;
}

.photo_wide {
    width: 95%;
    object-fit: cover;
}