html {
    scroll-behavior: smooth;
}

.home {
    &-container {
        height: 100vh;
        background:
            linear-gradient(to right bottom, var(--primary-black), var(--gradient-middle), var(--gradient-last)),
            url('../../assets/noisy.svg');
    }

    &-title {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80vh;
        color: white;
        padding: 5rem;
        z-index: 10;

        h1 {
            font-family: "Lexend-Bold", sans-serif;
            letter-spacing: 1.8rem;
            font-size: 58px;
            line-height: 2rem;
        }

        h3 {
            font-family: "Lexend-Medium", sans-serif;
            font-size: 38px;
            letter-spacing: .8rem;
            height: 40px;
        }
    }
}

.lastname {
    margin-bottom: 4rem;
}

.circle1 {
    position: absolute;
    right: 7%;
    bottom: 25%;
    width: 24em;
    height: 24em;
    background: radial-gradient(circle at center, #D74E4F 0, #501111 100%);
    border-radius: 50%;
    z-index: 2;
}

.circle2 {
    position: absolute;
    right: 0;
    top: 5rem;
    width: 5rem;
    height: 10rem;
    background: radial-gradient(circle at right, #D74E4F 0, #851E1E 100%);
    border-radius: 5rem 0 0 5rem ;
    z-index: 2;
}

.circle3 {
    position: absolute;
    right: 30%;
    bottom: 0rem;
    width: 16rem;
    height: 9rem;
    background: radial-gradient(circle at bottom, #D74E4F 0, #851E1E 100%);
    border-radius: 16rem 16rem 0 0;
    z-index: 2;
}

.sculpture1 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35%;
    z-index: 3;
}

@media screen and (max-width: 1110px) {
    .home-title h3 {
        font-size: 25px;
    }
}

@media screen and (max-width: 970px) {
    .home-title {
        h1 {
            font-size: 30px;
        }
        h3 {
            font-size: 20px;
        }
    }

    .circle1 {
        width: 18em;
        height: 18em;
    }

    .circle3 {
        position: absolute;
        right: 30%;
        bottom: 0rem;
        width: 16rem;
        height: 9rem;
        background: radial-gradient(circle at bottom, #D74E4F 0, #851E1E 100%);
        border-radius: 16rem 16rem 0 0;
    }

}

@media screen and (max-width: 800px) {
    .home-title {
        h1 {
            font-size: 28px;
            line-height: 3rem;
        }
        h3 {
            font-size: 16px;
            letter-spacing: .5rem;

        }
    }
}