:root {
    --primary-rose: #FF5454;
    --primary-black: #1B1A1B;
    --gradient-middle: #251314;
    --gradient-last: #3A1010;
}


// Font

@font-face {
    font-family: 'Lexend-Bold';
    src: local('Lexend-Bold'),
        url('./fonts/LexendExa-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Lexend-Medium';
    src: local('Lexend-Medium'),
        url('./fonts/LexendExa-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Lexend-Regular';
    src: local('Lexend-Regular'),
        url('./fonts/LexendExa-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lexend-SemiBold';
    src: local('Lexend-SemiBold'),
        url('./fonts/LexendExa-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Lexend-Light';
    src: local('Lexend-Light'),
        url('./fonts/LexendExa-Light.ttf') format('truetype');
}
