:root {
    --primary-rose: #FF5454;
    --primary-black: #1B1A1B;
    --gradient-middle: #251314;
    --gradient-last: #3A1010;
}


// Font

@font-face {
    font-family: 'Lexend-Bold';
    src: local('Lexend-Bold'),
        url('./fonts/Lexend-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Lexend-Bold';
    src: local('Lexend-Bold'),
        url('./fonts/Lexend-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Lexend-Bold';
    src: local('Lexend-Bold'),
        url('./fonts/Lexend-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Lexend-Bold';
    src: local('Lexend-Bold'),
        url('./fonts/Lexend-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Lexend-Bold';
    src: local('Lexend-Bold'),
        url('./fonts/Lexend-Bold.ttf') format('truetype');
}